@font-face {
    font-family: Digital;
    src: url(assets/Digital7Mono-Yz9J4.ttf);
}

:root {
    --padding: 12px;
    --border-color-dark: #999;
    --border-color-light: #fff;
    --bg: #eee;
    --game-bg: #c6c6c6;
    --game-bg-alt: #c0c0c0;
    --text-alt: #9e9d9d;
    --standard-border-radius: 0;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #212121;
        --text-alt: #3c3c3c;
        --game-bg: #212121;
        --game-bg-alt: #212121;
        --text: #ececec;
        --border-color-light: #3d3d3d;
        --border-color-dark: #0e0e0e;
    }
}

body {
    grid-template-columns: none;
    grid-template-rows: auto;
}

body > * {
    grid-column: unset;
}

body > main#root {
    min-height: 50vh;
    grid-row: 2;
    padding-bottom: 1.5rem;
}

body > header {
    grid-column: unset;
    grid-row: 1;
}

body > footer {
    grid-row: 3;
    margin-top: 0;
}

#difficulty-selection {
    display: flex;
    justify-content: center;
}

#difficulty-selection button {
    padding: 0;
    background-color: transparent;
    margin: 10px 5px;
    color: var(--accent);
}

#game-container {
    background-color: var(--game-bg);
    padding: var(--padding);
    width: fit-content;
    margin: 0 auto;
    border: 6px solid var(--border-color-dark);
    border-left-color: var(--border-color-light);
    border-top-color: var(--border-color-light);
}

#game-container #header {
    display: flex;
    padding: var(--padding);
    background-color: var(--game-bg-alt);
    justify-content: space-between;
    align-items: center;
    border: 6px solid var(--border-color-light);
    border-left-color: var(--border-color-dark);
    border-top-color: var(--border-color-dark);
}

#game-container #reset {
    font-size: 40px;
    line-height: 40px;
    padding: 5px;
    background-color: var(--game-bg);
    border: 4px solid var(--border-color-dark);
    border-left-color: var(--border-color-light);
    border-top-color: var(--border-color-light);
}
#game-container #reset:hover {
    background-color: var(--game-bg-alt);
    filter: none;
}
#game-container #reset:active {
    font-size: 35px;
    padding: 5px 7.5px;
    background-color: var(--game-bg-alt);
    border: 4px solid var(--border-color-dark);
}

#game-container #game {
    display: grid;
    margin-top: var(--padding);
    background-color: var(--bg);
    border: 6px solid var(--border-color-light);
    border-left-color: var(--border-color-dark);
    border-top-color: var(--border-color-dark);
}

#game-container #game.beginner {
    grid-template-columns: repeat(9, 1fr);
}
#game-container #game.intermediate {
    grid-template-columns: repeat(16, 1fr);
}
#game-container #game.advanced {
    grid-template-columns: repeat(40, 1fr);
}

/* #game-container, #game-container #header, #game-container #game  */

#game-container #game .block {
    width: 35px;
    height: 35px;
    background-color: var(--game-bg);
    border: 4px solid var(--border-color-dark);
    border-left-color: var(--border-color-light);
    border-top-color: var(--border-color-light);
    user-select: none;
}

#game-container #game .block.clicked {
    border-width: 1px;
}

#game-container #game .block.bomb:before, #game-container #game .block.flagged:before {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#game-container #game .block.flagged:before {
    content: '\1F4CD';
}

#game-container #game .block.bomb:before {
    content: '\1F4A3';
}

#game-container #header #flags, #game-container #header #timer{
    font-size: 60px;
    line-height: 45px;
    font-family: 'Digital', monospace;
    position: relative;
    opacity: 0.95;
    border: 3px solid var(--border-color-light);
    border-left-color: var(--border-color-dark);
    border-top-color: var(--border-color-dark);
}


#game-container #header #flags:before, #game-container #header #timer:before {
    content: '888';
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-alt);
    z-index: -1;
}